In [1]:
import pandas as pd
import sshtunnel
import psycopg2
from sshtunnel import SSHTunnelForwarder

In [2]:
OC_vbdb_host = 'vbdb330-instance-hic2.csw9u2ykgfdl.us-east-1.rds.amazonaws.com'

In [3]:
# Create an SSH tunnel
!ssh-add ~/.ssh/id_rsa
tunnel = SSHTunnelForwarder(
        ('trampoline.viome.com', 22),
        ssh_username='pedrotorres',
        ssh_private_key='~/.ssh/id_rsa',
        remote_bind_address=(OC_vbdb_host, 5432),
        local_bind_address=('localhost',6540)  
)
tunnel.start()
#create database connection
conn = psycopg2.connect(
    database='postgres',
    user='postgres',
    password='I8zwy0uh8mfqkkVJpYhm',
    host= tunnel.local_bind_host,
    port= tunnel.local_bind_port,
)
cur = conn.cursor()

Identity added: /Users/pedrotorres/.ssh/id_rsa (/Users/pedrotorres/.ssh/id_rsa)

In [5]:
query = '''
SELECT * FROM microbe_bgc limit 2
'''
result_df = pd.read_sql(query,conn)
result_df

,bgc_id,microbe_bgc_catalog_id,bgc_name,bgc_type,genome_id,microbe_bgc_to_genome_map_id,bgc_type_score,bgc_product_activity,bgc_activity_score
0,1,1,GUT_GENOME000001_3:10120-30264,sactipeptide,1722137,1,None,None,None
1,2,1,GUT_GENOME000004_2:167902-211261,NRPS,1720289,1,None,None,None