In [51]:
# Pedro J. Torres
import pandas as pd
import sqlite3
# Output is from https://github.com/medema-group/bigslice input folder example authors supply
# For more information regarding the db schema look at the authors supplementary file ; specifically page 42
# foundn intheri paper https://academic.oup.com/gigascience/article/10/1/giaa154/6092777

con = sqlite3.connect("data.db")

In [52]:
#Basic info on BGCs ran thorugh bigslice using example input folder they supply
bgc_info = f"""\
Select dataset.name, bgc.orig_folder, bgc.orig_filename, bgc.on_contig_edge, bgc.length_nt 
from bgc,dataset 
where bgc.dataset_id=dataset.id order by bgc.id;
"""

surveys_df = pd.read_sql_query(bgc_info, con)
surveys_df

,name,orig_folder,orig_filename,on_contig_edge,length_nt
0,dataset_1,NC_003888.3,NC_003888.3.region001.gbk,0,53018
1,dataset_1,NC_003888.3,NC_003888.3.region002.gbk,0,24764

In [53]:
# BGC taxonomy
    
taxinfo = f"""\
select bgc_taxonomy.bgc_id, taxon.name from bgc_taxonomy, taxon 
where taxon.id=bgc_taxonomy.taxon_id and taxon.level=7;
"""

tax_df = pd.read_sql_query(taxinfo, con)
tax_df

   bgc_id                           name
0       1  Streptomyces coelicolor A3(2)
1       2  Streptomyces coelicolor A3(2)

In [50]:
# Get BGC, checm class and subclass as well as cds products and which regions they are found in 
info = f"""\
Select * from bgc
INNER JOIN bgc_class 
ON bgc_class.bgc_id=bgc.id
INNER JOIN chem_subclass as  cs
ON cs.id=bgc_class.chem_subclass_id
INNER JOIN chem_class 
ON chem_class.id=cs.class_id
INNER JOIN cds
ON cds.bgc_id=bgc.id;
"""

surveys_df = pd.read_sql_query(info, con)
surveys_df

,id,dataset_id,name,type,on_contig_edge,length_nt,orig_folder,orig_filename,bgc_id,chem_subclass_id,...,name,id,bgc_id,nt_start,nt_end,strand,locus_tag,protein_id,product,aa_seq
0,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,57,...,Polyketide,1,1,3,675,1,SCO0104,NP_624447.1,hydrolase,MNGPETPGSSGEHLLQQQLGTTDRAAVFYDRQVHPYLTPAMREFIA...
1,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,57,...,Polyketide,2,1,1270,1996,-1,SCO0105,NP_624448.1,"endo-1,4-beta-xylanase",MQQDGTQQDRIKQSPAPLNGMSRRGFLGGAGTLALATASGLLLPGT...
2,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,57,...,Polyketide,3,1,2436,2829,1,SCO0106,NP_624449.1,insertion element transposase,MSLTDAQWARIEPLLPDRTPRRAGQWRDHRQVIDAIVFKYRTGTPW...
3,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,57,...,Polyketide,4,1,2849,3407,-1,SCO0107,NP_624450.1,aminoglycoside nucleotidyltransferase,MRCRSDLYLRTVSHYAMSAEDALALLERLHAHGVDACVGGGWSVDA...
4,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,57,...,Polyketide,5,1,3605,3755,1,SCO0108,NP_624451.1,hypothetical protein,MLRKTIKVQWLGDEEFGMVGRPRAITHDPESCEKTVSLKALRDPCGLAG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2,1,NC_003888.3/NC_003888.3.region002,as5,0,24764,NC_003888.3,NC_003888.3.region002.gbk,2,68,...,Terpene,60,2,20128,20569,-1,SCO0197,NP_624532.1,hypothetical protein,MYRNDGFRELNRQESLQRLANAPVGRIVHTRDALPAVLPVNFVLEK...
100,2,1,NC_003888.3/NC_003888.3.region002,as5,0,24764,NC_003888.3,NC_003888.3.region002.gbk,2,68,...,Terpene,61,2,21101,21968,-1,SCO0198,NP_624533.1,hypothetical protein,MYLPMVVGVDGSESSLGAVDWAADEAALHEVPLRIVHAYRWDRYEG...
101,2,1,NC_003888.3/NC_003888.3.region002,as5,0,24764,NC_003888.3,NC_003888.3.region002.gbk,2,68,...,Terpene,62,2,21973,22996,-1,SCO0199,NP_624534.1,alcohol dehydrogenase,MKAAVVREFGKPLVIEDRPDPEPGPGQVLVAVEASGLCHTDIHAAH...
102,2,1,NC_003888.3/NC_003888.3.region002,as5,0,24764,NC_003888.3,NC_003888.3.region002.gbk,2,68,...,Terpene,63,2,23034,23940,-1,SCO0200,NP_624535.1,hypothetical protein,MARTITVGLDGSPESRAAAEWAAREGTLRRVPVRLLHVWQPVPEPM...
103,2,1,NC_003888.3/NC_003888.3.region002,as5,0,24764,NC_003888.3,NC_003888.3.region002.gbk,2,68,...,Terpene,64,2,24092,24764,-1,SCO0201,NP_624536.1,hypothetical protein,MSGTNRILSEGVTVMAMHQSTHRGSGFHLPSSRRNGAVSVPGAADS...

In [42]:
hge_info = f"""\
Select * from bgc
INNER JOIN bgc_class 
ON bgc_class.bgc_id=bgc.id
INNER JOIN chem_subclass as  cs
ON cs.id=bgc_class.chem_subclass_id
INNER JOIN chem_class 
ON chem_class.id=cs.class_id
INNER JOIN taxon 
ON taxon.id=bgc.id
INNER JOIN taxon_class 
ON taxon_class.level=taxon.level;
"""

surveys_df = pd.read_sql_query(hge_info, con)
surveys_df

,id,dataset_id,name,type,on_contig_edge,length_nt,orig_folder,orig_filename,bgc_id,chem_subclass_id,...,class_id,name,id,name,id,level,name,id,level,name
0,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,57,...,5,hglE-KS,5,Polyketide,1,0,Bacteria,1,0,Kingdom
1,1,1,NC_003888.3/NC_003888.3.region001,as5,0,53018,NC_003888.3,NC_003888.3.region001.gbk,1,59,...,5,T1PKS,5,Polyketide,1,0,Bacteria,1,0,Kingdom
2,2,1,NC_003888.3/NC_003888.3.region002,as5,0,24764,NC_003888.3,NC_003888.3.region002.gbk,2,68,...,8,terpene,8,Terpene,2,1,Actinobacteria,2,1,Phylum

In [49]:
hge_info = f"""\
Select bgc.name, cs.name,chem_class.name, cds.* from bgc
INNER JOIN bgc_class 
ON bgc_class.bgc_id=bgc.id
INNER JOIN chem_subclass as  cs
ON cs.id=bgc_class.chem_subclass_id
INNER JOIN chem_class 
ON chem_class.id=cs.class_id
INNER JOIN cds
ON cds.bgc_id=bgc.id
;
"""

surveys_df = pd.read_sql_query(hge_info, con)
surveys_df

,name,name,name,id,bgc_id,nt_start,nt_end,strand,locus_tag,protein_id,product,aa_seq
0,NC_003888.3/NC_003888.3.region001,hglE-KS,Polyketide,1,1,3,675,1,SCO0104,NP_624447.1,hydrolase,MNGPETPGSSGEHLLQQQLGTTDRAAVFYDRQVHPYLTPAMREFIA...
1,NC_003888.3/NC_003888.3.region001,hglE-KS,Polyketide,2,1,1270,1996,-1,SCO0105,NP_624448.1,"endo-1,4-beta-xylanase",MQQDGTQQDRIKQSPAPLNGMSRRGFLGGAGTLALATASGLLLPGT...
2,NC_003888.3/NC_003888.3.region001,hglE-KS,Polyketide,3,1,2436,2829,1,SCO0106,NP_624449.1,insertion element transposase,MSLTDAQWARIEPLLPDRTPRRAGQWRDHRQVIDAIVFKYRTGTPW...
3,NC_003888.3/NC_003888.3.region001,hglE-KS,Polyketide,4,1,2849,3407,-1,SCO0107,NP_624450.1,aminoglycoside nucleotidyltransferase,MRCRSDLYLRTVSHYAMSAEDALALLERLHAHGVDACVGGGWSVDA...
4,NC_003888.3/NC_003888.3.region001,hglE-KS,Polyketide,5,1,3605,3755,1,SCO0108,NP_624451.1,hypothetical protein,MLRKTIKVQWLGDEEFGMVGRPRAITHDPESCEKTVSLKALRDPCGLAG
...,...,...,...,...,...,...,...,...,...,...,...,...
99,NC_003888.3/NC_003888.3.region002,terpene,Terpene,60,2,20128,20569,-1,SCO0197,NP_624532.1,hypothetical protein,MYRNDGFRELNRQESLQRLANAPVGRIVHTRDALPAVLPVNFVLEK...
100,NC_003888.3/NC_003888.3.region002,terpene,Terpene,61,2,21101,21968,-1,SCO0198,NP_624533.1,hypothetical protein,MYLPMVVGVDGSESSLGAVDWAADEAALHEVPLRIVHAYRWDRYEG...
101,NC_003888.3/NC_003888.3.region002,terpene,Terpene,62,2,21973,22996,-1,SCO0199,NP_624534.1,alcohol dehydrogenase,MKAAVVREFGKPLVIEDRPDPEPGPGQVLVAVEASGLCHTDIHAAH...
102,NC_003888.3/NC_003888.3.region002,terpene,Terpene,63,2,23034,23940,-1,SCO0200,NP_624535.1,hypothetical protein,MARTITVGLDGSPESRAAAEWAAREGTLRRVPVRLLHVWQPVPEPM...
103,NC_003888.3/NC_003888.3.region002,terpene,Terpene,64,2,24092,24764,-1,SCO0201,NP_624536.1,hypothetical protein,MSGTNRILSEGVTVMAMHQSTHRGSGFHLPSSRRNGAVSVPGAADS...

In [19]:
cheminfo = f"""\
select chem_class.name AS class, chem_subclass.name as subclass from chem_subclass, chem_class
where chem_class.id=chem_subclass.class_id;
"""

chem_df = pd.read_sql_query(cheminfo, con)
chem_df

          class          subclass
0       Unknown           unknown
1          RiPP      lassopeptide
2           NRP           generic
3         Other  acyl_amino_acids
4         Other       arylpolyene
..          ...               ...
117  Polyketide           unknown
118  Saccharide           generic
119     Terpene     sesterterpene
120     Terpene           generic
121        RiPP           generic

[122 rows x 2 columns]